*
{
    padding: 0;
    margin: 0;
}

html, body
{
    height: 100%;
}

#mapid
{
    height: 100vh;
}

#error
{
    color: red;
    margin: 0;
}

#menu_holder {
    height: 0;
}

#menu
{
    width: 20%;
    position: relative;
    z-index: 9999;
    left: 70vw;
    top: 25px;
    background-color: #bbbbbb;
    color: #333333;
}
